.env
.env.local
.env.*.local

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
bin/
dist/

.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

**/auth-svc
!/**/auth-svc/

local/
*.log
*.pid

.dockerignore

tmp/
temp/
*.tmp

Thumbs.db
desktop.ini

